<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link"
                     href="index.html">Главная</a>
                </li>

                <li class="nav__item">
                    <a class="nav__link has-subnav"
                    href="#">Статьи</a>

                    <ul class="subnav">
                        <li class="nav__item">
                            <a href="#">Создание сайтов</a>
                        </li>
                        <li class="nav__item">
                            <a href="#">Интернет маркетинг</a>
                        </li>
                        <li class="nav__item">
                            <a href="#">Продвижение видео</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav__link"
                    href="text.html">Обо мне</a>
                </li>

                <li class="nav__item">
                    <a class="nav__link"
                    href="text.html">Реклама</a>
                </li>

            </ul>
        </nav>
    </div>

    <button class="burger  active" type="button">
        <span>Открыть навигацию</span>
    </button>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a class="nav__link" href="profile.html">Профиль</a>
                </li>
                <li>
                    <a class="nav__link" href="signup.html">Войти</a>
                </li>
            </ul>
        </nav>


        <form class="search" action="search.html" method="get">
            <input class="search__input" type="text" placeholder="Поиск по блогу">
        </form>
    </div>
</header>

