<aside class="sidebar">
    <div class="sedibar__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>

    <div class="sedibar__content">
        <div class="profile">
            <img class="profile__avatar"src="/assets/images/ya.jpg" alt="">
        <div class="profile__header">
            <div class="profile__name">Олег Шаргинов</div>
            <div class="profile__prof">Блог будущего frontend разработчика</div>
        </div> 

        

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/inst.svg" alt="Олег Шаргинов instagram">
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/vk.svg" alt="Олег Шаргинов vk">
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/pnt.svg" alt="Олег Шаргинов pnt">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                <p>Изучаю Frontend разработку, очень нравится. На сегодняшний день 10.12.22 уже научился верстать, а сейчас изучаю основы JS.</p>

            </div>
        </div><!-- /.profile -->
        <nav class="nav nav--mobile">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link"
                     href="index.html">Главная</a>
                </li>

                <li class="nav__item">
                    <a class="nav__link has-subnav"
                    href="#">Статьи</a>

                    <ul class="subnav">
                        <li class="nav__item">
                            <a href="#">Создание сайтов</a>
                        </li>
                        <li class="nav__item">
                            <a href="#">Интернет маркетинг</a>
                        </li>
                        <li class="nav__item">
                            <a href="#">Продвижение видео</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav__link"
                    href="text.html">Обо мне</a>
                </li>

                <li class="nav__item">
                    <a class="nav__link"
                    href="text.html">Реклама</a>
                </li>

            </ul>
        </nav>

    </div><!-- /.sidebar content -->


    <div class="sidebar__footer">
        <a class="btn btn--red" href="works.html">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>
